/* MENU MOVIL */
@media screen and (min-width: 769px) {
    .menu.fixed {
        position: fixed;
        top: 0;
        left: 55%;
        transform: translateX(-50%);
        font-size: 24px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 20px;
        border-radius: 20px;
        z-index: 1000;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 768px) {
    .menu.fixed {
        position: fixed;
        top: 0;
        align-self: center;
        transform: translateX(-50%);
        font-size: 18px; 
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 20px;
        border-radius: 20px;
        z-index: 1000;
        transition: all 0.3s ease;
    }
}
@keyframes ola {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}


@keyframes fondoanima { 
    0%{ 
        background-position: 0% 0%;
     } 
    50%{ 
        background-position: 100% 0%; 
    } 
    100%{ 
        background-position: 0% 0%; 
    } 
}

@media screen and (max-width: 768px) {
    .Contenido-header {
        flex-direction: column;
    }

    .Contenido-header .logo {
        margin-bottom: 20px;
    }

    .main {
        grid-template-columns: 1fr;
    }
}
/* Animaciones de https://animista.net/ */


@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes tilt-in-left-2 {
    0% {
      -webkit-transform: rotateX(30deg) translateX(-300px) skewX(30deg);
              transform: rotateX(30deg) translateX(-300px) skewX(30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
              transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-left-2 {
    0% {
      -webkit-transform: rotateX(30deg) translateX(-300px) skewX(30deg);
              transform: rotateX(30deg) translateX(-300px) skewX(30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
              transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }
  @-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }


  /* Animacion para comentarios*/
 

  /* https://codepen.io/EricPorter/pen/JjPmOOb*/

  div.comentarios {
    overflow: hidden;
    height: 80px;
    text-align: center;
    padding-top: 10px;
    margin-top: -10px;
    li {
      font-family: "Poetsen One", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 50px;
      display: block;
      font-size: xx-large;
      color: white;
      text-shadow: 1px 1px 1px black;
    }
}


.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip5 { animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
0% { margin-top: -180px; }
5% { margin-top: -90px;  }
50% { margin-top: -90px; }
55% { margin-top: 0px; }
99.99% { margin-top: 0px; }
100% { margin-top: -180px; }
}

@keyframes flip3 {
0% { margin-top: -270px; }
5% { margin-top: -180px; }
33% { margin-top: -180px; }
38% { margin-top: -90px; }
66% { margin-top: -90px; }
71% { margin-top: 0px; }
99.99% { margin-top: 0px; }
100% { margin-top: -270px; }
}

@keyframes flip4 {
0% { margin-top: -360px; }
5% { margin-top: -270px; }
25% { margin-top: -270px; }
30% { margin-top: -180px; }
50% { margin-top: -180px; }
55% { margin-top: -90px; }
75% { margin-top: -90px; }
80% { margin-top: 0px; }
99.99% { margin-top: 0px; }
100% { margin-top: -360px; }
}

@keyframes flip5 {
0% { margin-top: -450px; }
5% { margin-top: -360px; }
20% { margin-top: -360px; }
25% { margin-top: -270px; }
40% { margin-top: -270px; }
45% { margin-top: -180px; }
60% { margin-top: -180px; }
65% { margin-top: -90px; }
80% { margin-top: -90px; }
85% { margin-top: 0px; }
99.99% { margin-top: 0px; }
100% { margin-top: -450px; }
}


/* Luces parpadeantes*/
h1 span {
  font-size: 5rem;
  font-family: 'Bad Script', cursive;
  color: #111;
  animation: glowing 6s linear infinite;
}

@keyframes glowing {
  0%, 100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #eeff00,
                 0 0 20px #eeff00,
                 0 0 40px #eeff00,
                 0 0 80px #eeff00,
                 0 0 120px #eeff00,
                 0 0 200px #eeff00,
                 0 0 300px #eeff00,
                 0 0 400px #eeff00;
  } 10%, 95% {
    color: #464646ab;
    text-shadow: none;
    filter: blur(0px);
  }
}

h1 span:nth-child(1){
  animation-delay: 0s;
}

h1 span:nth-child(2){
  animation-delay: .5s;
}

h1 span:nth-child(3){
  animation-delay: 1s;
}

h1 span:nth-child(4){
  animation-delay: 1.5s;
}

h1 span:nth-child(5){
  animation-delay: 2s;
}
h1 span:nth-child(6){
  animation-delay: 2.5s;
}
h1 span:nth-child(7){
  animation-delay: 3s;
}
 
@keyframes flecha {
  0%{
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {

    transform: translateX(0px);
  }
}

@keyframes maquinaescribir {
  0% {
    width: 0;
  }
  35% {
    width: 325px;
  }
  100% {
    width: 325px;
  }
}
@keyframes TextCursor {
  from {
    border-right-color: hsl(0, 0%, 0%);
  }
  to {
    border-right-color: transparent;
  }
}