*{
    box-sizing: border-box;
    margin: 0;
    padding: 1vw 1vh; 
}

body{
    background: rgb(129,249,178);
    background: linear-gradient(172deg, rgba(129,249,178,1) 0%, rgba(169,130,249,1) 100%); /* https://cssgradient.io/ */
    background-attachment: fixed;
    background-size: 500% 100%;
    animation: fondoanima 10s ease infinite;
}


@keyframes fondoanima { 
    0%{ 
        background-position: 0% 0%;
     } 
    50%{ 
        background-position: 100% 0%; 
    } 
    100%{ 
        background-position: 0% 0%; 
    } 
}


.titulo{
    background: rgba(255,255,255,0.6);
    border-radius: 2vw 2vh;
    align-self: center;
    text-align: center;
    box-shadow: #fa37f0 0px 0px 5px, inset 0px 0px 10px #70b962
}
.titulo:hover{
    animation: titulo 5s ease infinite;
}
@keyframes titulo{
    0%{ 
        background: rgba(255,255,255,0.6);
        box-shadow: #c767c2 0px 0px 5px, inset 0px 0px 10px #70b962;
        transform: scale(1)
     }
     100%{ 
        background: rgba(255,255,255,0.8);
        box-shadow: #c767c2 1px 1px 5px, inset 1px 1px 10px #70b962;
        transform: scale(1.01)
    } 
}


div{
    background: rgba(255,255,255,0.7);
    border-radius: 1vw 1vh;
    padding: 3vh;
}




input, textarea, select {
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  }
.boton{
    background: rgba(255,255,255,0.7);
    border-radius: 0.7vw 0.7vh;
}
input:hover,textarea:hover,select:hover{
    background: rgba(239, 239, 239, 0.959);
}
.boton:hover{
    background: rgba(231, 231, 231, 0.9);
}
